.10698_4463 { 
	overflow:hidden;
}.e10698_4463 { 
	background-color:rgba(255, 255, 255, 1);
	width:3498px;
	height:1765px;
	position:absolute;
}.e10698_4464 { 
	background-color:rgba(3.000000058673322, 14.000000115484, 72.00000330805779, 1);
	width:3288px;
	height:323px;
	position:absolute;
	left:103px;
	top:979px;
}.e10698_4465 { 
	color:rgba(255, 255, 255, 1);
	width:246px;
	height:12px;
	position:absolute;
	left:135px;
	top:1027px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	line-height:px;
}.e10698_4466 { 
	background-color:rgba(122.1875050663948, 79.93099093437195, 79.93099093437195, 0);
	width:2921px;
	height:81px;
	position:absolute;
	left:271px;
	top:1100px;
}.e10698_4467 { 
	background-color:rgba(0, 0, 0, 1);
	width:3288px;
	height:187px;
	position:absolute;
	left:102px;
	top:792px;
}.e10698_4468 { 
	background-color:rgba(0, 0, 0, 1);
	width:3498px;
	height:143px;
	position:absolute;
	left:0px;
	top:75px;
}.e10698_4469 { 
	color:rgba(255, 255, 255, 1);
	width:727px;
	height:102px;
	position:absolute;
	left:1318px;
	top:147px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	line-height:px;
}.10698_4470 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10698_4470 { 
	width:100px;
	height:100px;
	position:absolute;
	left:-1874px;
	top:-964px;
}.e10698_4471 { 
	background-color:rgba(255, 255, 255, 1);
	width:3498px;
	height:74px;
	position:absolute;
	left:0px;
	top:218px;
}.e10698_4472 { 
	color:rgba(0, 0, 0, 1);
	width:744px;
	height:247px;
	position:absolute;
	left:1318px;
	top:263px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10698_4473 { 
	background-color:rgba(2.7093762159347534, 13.835882171988487, 72.24999949336052, 1);
	width:3498px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e10698_4474 { 
	background-color:rgba(2.7093762159347534, 13.835882171988487, 72.24999949336052, 1);
	width:3288px;
	height:99px;
	position:absolute;
	left:102px;
	top:792px;
}.e10698_4475 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(128.56249898672104, 9.642187803983688, 9.642187803983688, 1);
	width:122px;
	height:75px;
	position:absolute;
	left:3376px;
	top:0px;
}.10698_4475 { 
	border:1px solid rgba(4.250000221654773, 4.037500424310565, 4.037500424310565, 1);
}.e10698_4476 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:22px;
	position:absolute;
	left:3424px;
	top:24px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10698_4477 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(128.56249898672104, 9.642187803983688, 9.642187803983688, 1);
	width:122px;
	height:75px;
	position:absolute;
	left:3254px;
	top:0px;
}.10698_4477 { 
	border:1px solid rgba(4.250000221654773, 4.037500424310565, 4.037500424310565, 1);
}.e10698_4478 { 
	color:rgba(255, 255, 255, 1);
	width:39px;
	height:12px;
	position:absolute;
	left:3296px;
	top:32px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	line-height:px;
}.e10698_4479 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(128.56249898672104, 9.642187803983688, 9.642187803983688, 1);
	width:127px;
	height:75px;
	position:absolute;
	left:3127px;
	top:0px;
}.10698_4479 { 
	border:1px solid rgba(4.250000221654773, 4.037500424310565, 4.037500424310565, 1);
}.e10698_4480 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:13px;
	position:absolute;
	left:3161px;
	top:25px;
	font-family:Inter;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
	line-height:px;
}.e10698_4481 { 
	width:1560px;
	height:420px;
	position:absolute;
	left:-63px;
	top:291px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10698_4482 { 
	color:rgba(255, 255, 255, 1);
	width:1148px;
	height:77px;
	position:absolute;
	left:1204px;
	top:814px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e10698_4483 { 
	transform: rotate(180deg);
	width:1970px;
	height:418px;
	position:absolute;
	left:3467px;
	top:296px;
	background-image:url(images/rectangle_41.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10698_4484 { 
	background-color:rgba(0, 0, 0, 1);
	width:3631px;
	height:343px;
	position:absolute;
	left:-38px;
	top:1479px;
}.e10698_4496 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(180deg);
	background-color:rgba(3.000000058673322, 14.000000115484, 72.00000330805779, 1);
	width:392px;
	height:54px;
	position:absolute;
	left:3391px;
	top:957px;
}.e10698_4501 { 
	background-color:rgba(255, 255, 255, 1);
	width:144px;
	height:37px;
	position:absolute;
	left:290px;
	top:1212px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e10698_4502 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:12px;
	position:absolute;
	left:318px;
	top:1225px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}.e10698_4503 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:459px;
	height:81px;
	position:absolute;
	left:2522px;
	top:711px;
}.10698_4503 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10698_4504 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:417px;
	height:81px;
	position:absolute;
	left:2956px;
	top:711px;
}.10698_4504 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10698_4505 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:424px;
	height:81px;
	position:absolute;
	left:1673px;
	top:711px;
}.10698_4505 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10698_4506 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:433px;
	height:81px;
	position:absolute;
	left:824px;
	top:711px;
}.10698_4506 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10698_4507 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:421px;
	height:81px;
	position:absolute;
	left:403px;
	top:711px;
}.10698_4507 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10698_4508 { 
	background-color:rgba(0, 0, 0, 1);
	width:108px;
	height:81px;
	position:absolute;
	left:3373px;
	top:711px;
}.e10698_4509 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:420px;
	height:81px;
	position:absolute;
	left:-17px;
	top:711px;
}.10698_4509 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10698_4510 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:12px;
	position:absolute;
	left:139px;
	top:734px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10698_4511 { 
	color:rgba(255, 255, 255, 1);
	width:354px;
	height:12px;
	position:absolute;
	left:2569px;
	top:732px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10698_4512 { 
	color:rgba(255, 255, 255, 1);
	width:286px;
	height:98px;
	position:absolute;
	left:3008px;
	top:733px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10698_4513 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:449px;
	height:81px;
	position:absolute;
	left:2097px;
	top:711px;
}.10698_4513 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10698_4514 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:416px;
	height:81px;
	position:absolute;
	left:1257px;
	top:711px;
}.10698_4514 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10698_4515 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:12px;
	position:absolute;
	left:1358px;
	top:735px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10698_4516 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:24px;
	position:absolute;
	left:538px;
	top:739px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10698_4517 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:12px;
	position:absolute;
	left:940px;
	top:738px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10698_4518 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:27px;
	position:absolute;
	left:3372px;
	top:744px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10698_4519 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:12px;
	position:absolute;
	left:1776px;
	top:735px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10698_4520 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:12px;
	position:absolute;
	left:2229px;
	top:732px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10698_4521 { 
	color:rgba(255, 255, 255, 1);
	width:721px;
	height:12px;
	position:absolute;
	left:1257px;
	top:1584px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10698_4522 { 
	background-color:rgba(255, 255, 255, 1);
	width:2830px;
	height:98px;
	position:absolute;
	left:424px;
	top:1002px;
}