.10602_4483 { 
	overflow:hidden;
}.e10602_4483 { 
	background-color:rgba(255, 255, 255, 1);
	width:3498px;
	height:1765px;
	position:absolute;
}.e10651_4509 { 
	background-color:rgba(0, 0, 0, 1);
	width:111px;
	height:81px;
	position:absolute;
	left:3380px;
	top:323px;
}.e10602_4563 { 
	background-color:rgba(0, 0, 0, 1);
	width:3498px;
	height:143px;
	position:absolute;
	left:0px;
	top:75px;
}.e10602_4565 { 
	color:rgba(255, 255, 255, 1);
	width:727px;
	height:102px;
	position:absolute;
	left:1295px;
	top:146px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	line-height:px;
}.10602_4569 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10602_4569 { 
	width:100px;
	height:100px;
	position:absolute;
	left:-1874px;
	top:-964px;
}.e10604_4469 { 
	background-color:rgba(255, 255, 255, 1);
	width:3498px;
	height:105px;
	position:absolute;
	left:0px;
	top:218px;
}.e10604_4470 { 
	color:rgba(0, 0, 0, 1);
	width:744px;
	height:262px;
	position:absolute;
	left:1286px;
	top:270px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	line-height:px;
}.e10604_4471 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:408px;
	height:81px;
	position:absolute;
	left:10px;
	top:323px;
}.10604_4471 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10604_4472 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:12px;
	position:absolute;
	left:161px;
	top:346px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10604_4483 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:427px;
	height:81px;
	position:absolute;
	left:2544px;
	top:323px;
}.10604_4483 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10604_4484 { 
	color:rgba(255, 255, 255, 1);
	width:354px;
	height:12px;
	position:absolute;
	left:2591px;
	top:344px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10604_4485 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:399px;
	height:81px;
	position:absolute;
	left:2978px;
	top:323px;
}.10604_4485 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10604_4486 { 
	color:rgba(255, 255, 255, 1);
	width:286px;
	height:98px;
	position:absolute;
	left:3030px;
	top:345px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10604_4481 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:417px;
	height:81px;
	position:absolute;
	left:2119px;
	top:323px;
}.10604_4481 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10604_4477 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:410px;
	height:81px;
	position:absolute;
	left:1279px;
	top:323px;
}.10604_4477 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10604_4478 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:12px;
	position:absolute;
	left:1380px;
	top:347px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10604_4473 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:427px;
	height:81px;
	position:absolute;
	left:846px;
	top:323px;
}.10604_4473 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10604_4479 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:418px;
	height:81px;
	position:absolute;
	left:1695px;
	top:323px;
}.10604_4479 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10604_4475 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:415px;
	height:81px;
	position:absolute;
	left:425px;
	top:323px;
}.10604_4475 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10604_4487 { 
	background-color:rgba(3.000000058673322, 14.000000115484, 72.00000330805779, 1);
	width:636px;
	height:344px;
	position:absolute;
	left:136px;
	top:441px;
}.e10604_4490 { 
	background-color:rgba(3.000000058673322, 14.000000115484, 72.00000330805779, 1);
	width:636px;
	height:344px;
	position:absolute;
	left:772px;
	top:785px;
}.e10604_4489 { 
	background-color:rgba(3.000000058673322, 14.000000115484, 72.00000330805779, 1);
	width:636px;
	height:344px;
	position:absolute;
	left:1408px;
	top:441px;
}.e10604_4497 { 
	background-color:rgba(3.000000058673322, 14.000000115484, 72.00000330805779, 1);
	width:636px;
	height:344px;
	position:absolute;
	left:2680px;
	top:441px;
}.e10604_4496 { 
	background-color:rgba(3.000000058673322, 14.000000115484, 72.00000330805779, 1);
	width:636px;
	height:344px;
	position:absolute;
	left:2044px;
	top:785px;
}.e10604_4488 { 
	background-color:rgba(222.00000196695328, 167.59999305009842, 61.999996304512024, 1);
	width:636px;
	height:344px;
	position:absolute;
	left:772px;
	top:441px;
}.e10604_4494 { 
	background-color:rgba(222.00000196695328, 167.59999305009842, 61.999996304512024, 1);
	width:636px;
	height:344px;
	position:absolute;
	left:2044px;
	top:441px;
}.e10604_4495 { 
	background-color:rgba(222.00000196695328, 167.59999305009842, 61.999996304512024, 1);
	width:636px;
	height:344px;
	position:absolute;
	left:2680px;
	top:785px;
}.e10604_4493 { 
	background-color:rgba(222.00000196695328, 167.59999305009842, 61.999996304512024, 1);
	width:636px;
	height:344px;
	position:absolute;
	left:1408px;
	top:785px;
}.e10604_4492 { 
	background-color:rgba(222.00000196695328, 167.59999305009842, 61.999996304512024, 1);
	width:636px;
	height:344px;
	position:absolute;
	left:136px;
	top:785px;
}.e10604_4498 { 
	background-color:rgba(2.7093762159347534, 13.835882171988487, 72.24999949336052, 1);
	width:3498px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e10604_4499 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(128.56249898672104, 9.642187803983688, 9.642187803983688, 1);
	width:122px;
	height:75px;
	position:absolute;
	left:3376px;
	top:0px;
}.10604_4499 { 
	border:1px solid rgba(4.250000221654773, 4.037500424310565, 4.037500424310565, 1);
}.e10604_4500 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:22px;
	position:absolute;
	left:3424px;
	top:24px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10604_4501 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(128.56249898672104, 9.642187803983688, 9.642187803983688, 1);
	width:122px;
	height:75px;
	position:absolute;
	left:3254px;
	top:0px;
}.10604_4501 { 
	border:1px solid rgba(4.250000221654773, 4.037500424310565, 4.037500424310565, 1);
}.e10604_4505 { 
	color:rgba(255, 255, 255, 1);
	width:39px;
	height:12px;
	position:absolute;
	left:3296px;
	top:32px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	line-height:px;
}.e10604_4506 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(128.56249898672104, 9.642187803983688, 9.642187803983688, 1);
	width:127px;
	height:75px;
	position:absolute;
	left:3127px;
	top:0px;
}.10604_4506 { 
	border:1px solid rgba(4.250000221654773, 4.037500424310565, 4.037500424310565, 1);
}.e10604_4508 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:13px;
	position:absolute;
	left:3161px;
	top:25px;
	font-family:Inter;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
	line-height:px;
}.e10608_4444 { 
	color:rgba(255, 255, 255, 1);
	width:359px;
	height:79px;
	position:absolute;
	left:258px;
	top:590px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10608_4448 { 
	color:rgba(255, 255, 255, 1);
	width:428px;
	height:28px;
	position:absolute;
	left:860px;
	top:590px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4447 { 
	color:rgba(255, 255, 255, 1);
	width:558px;
	height:12px;
	position:absolute;
	left:1447px;
	top:598px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4450 { 
	color:rgba(255, 255, 255, 1);
	width:663px;
	height:21px;
	position:absolute;
	left:2030px;
	top:604px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4451 { 
	color:rgba(255, 255, 255, 1);
	width:438px;
	height:12px;
	position:absolute;
	left:2781px;
	top:603px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4452 { 
	color:rgba(255, 255, 255, 1);
	width:454px;
	height:12px;
	position:absolute;
	left:227px;
	top:957px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4453 { 
	color:rgba(255, 255, 255, 1);
	width:226px;
	height:12px;
	position:absolute;
	left:932px;
	top:957px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4454 { 
	color:rgba(255, 255, 255, 1);
	width:198px;
	height:24px;
	position:absolute;
	left:1627px;
	top:946px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4455 { 
	color:rgba(255, 255, 255, 1);
	width:383px;
	height:12px;
	position:absolute;
	left:2170px;
	top:940px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4456 { 
	color:rgba(255, 255, 255, 1);
	width:447px;
	height:12px;
	position:absolute;
	left:2776px;
	top:935px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4458 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:24px;
	position:absolute;
	left:560px;
	top:351px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10616_4459 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:12px;
	position:absolute;
	left:962px;
	top:350px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10616_4475 { 
	width:843px;
	height:476px;
	position:absolute;
	left:784px;
	top:1203px;
	background-image:url(images/rectangle_28.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10616_4480 { 
	width:769px;
	height:476px;
	position:absolute;
	left:2519px;
	top:1203px;
	background-image:url(images/rectangle_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10616_4479 { 
	width:841px;
	height:476px;
	position:absolute;
	left:1646px;
	top:1203px;
	background-image:url(images/rectangle_30.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10616_4476 { 
	background-color:rgba(0, 0, 0, 1);
	width:636px;
	height:121px;
	position:absolute;
	left:136px;
	top:1203px;
}.e10616_4478 { 
	color:rgba(255, 255, 255, 1);
	width:474px;
	height:12px;
	position:absolute;
	left:232px;
	top:1258px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4481 { 
	background-color:rgba(203.10572862625122, 211.24996840953827, 240.12499898672104, 1);
	width:843px;
	height:121px;
	position:absolute;
	left:784px;
	top:1558px;
}.e10616_4483 { 
	background-color:rgba(203.10572862625122, 211.24996840953827, 240.12499898672104, 1);
	width:840px;
	height:121px;
	position:absolute;
	left:1647px;
	top:1558px;
}.e10616_4484 { 
	background-color:rgba(203.10572862625122, 211.24996840953827, 240.12499898672104, 1);
	width:773px;
	height:123px;
	position:absolute;
	left:2519px;
	top:1552px;
}.e10616_4482 { 
	color:rgba(0, 0, 0, 1);
	width:651px;
	height:12px;
	position:absolute;
	left:821px;
	top:1602px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4485 { 
	color:rgba(0, 0, 0, 1);
	width:557px;
	height:12px;
	position:absolute;
	left:1751px;
	top:1602px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10616_4486 { 
	color:rgba(0, 0, 0, 1);
	width:510px;
	height:12px;
	position:absolute;
	left:2602px;
	top:1591px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10622_4444 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:27px;
	position:absolute;
	left:3394px;
	top:356px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10604_4482 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:12px;
	position:absolute;
	left:1798px;
	top:347px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4508 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:12px;
	position:absolute;
	left:2224px;
	top:344px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4530 { 
	background-color:rgba(0, 0, 0, 1);
	width:111px;
	height:81px;
	position:absolute;
	left:3380px;
	top:323px;
}.e10651_4531 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:408px;
	height:81px;
	position:absolute;
	left:10px;
	top:323px;
}.10651_4531 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4532 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:12px;
	position:absolute;
	left:161px;
	top:346px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4533 { 
	color:rgba(255, 255, 255, 1);
	width:354px;
	height:12px;
	position:absolute;
	left:2591px;
	top:344px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4534 { 
	color:rgba(255, 255, 255, 1);
	width:286px;
	height:98px;
	position:absolute;
	left:3030px;
	top:345px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4535 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:417px;
	height:81px;
	position:absolute;
	left:2119px;
	top:323px;
}.10651_4535 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4536 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:410px;
	height:81px;
	position:absolute;
	left:1279px;
	top:323px;
}.10651_4536 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4537 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:12px;
	position:absolute;
	left:1380px;
	top:347px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4538 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:24px;
	position:absolute;
	left:560px;
	top:351px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4539 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:12px;
	position:absolute;
	left:962px;
	top:350px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4540 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:27px;
	position:absolute;
	left:3394px;
	top:356px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4541 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:12px;
	position:absolute;
	left:1798px;
	top:347px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4542 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:12px;
	position:absolute;
	left:2224px;
	top:344px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4543 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:427px;
	height:81px;
	position:absolute;
	left:846px;
	top:323px;
}.10651_4543 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4544 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:415px;
	height:81px;
	position:absolute;
	left:425px;
	top:323px;
}.10651_4544 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4545 { 
	background-color:rgba(0, 0, 0, 1);
	width:111px;
	height:81px;
	position:absolute;
	left:3380px;
	top:323px;
}.e10651_4546 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:408px;
	height:81px;
	position:absolute;
	left:10px;
	top:323px;
}.10651_4546 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4547 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:12px;
	position:absolute;
	left:161px;
	top:346px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4548 { 
	color:rgba(255, 255, 255, 1);
	width:354px;
	height:12px;
	position:absolute;
	left:2591px;
	top:344px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4549 { 
	color:rgba(255, 255, 255, 1);
	width:286px;
	height:98px;
	position:absolute;
	left:3030px;
	top:345px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4550 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:417px;
	height:81px;
	position:absolute;
	left:2119px;
	top:323px;
}.10651_4550 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4551 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:410px;
	height:81px;
	position:absolute;
	left:1279px;
	top:323px;
}.10651_4551 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4552 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:12px;
	position:absolute;
	left:1380px;
	top:347px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4553 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:24px;
	position:absolute;
	left:560px;
	top:351px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4554 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:12px;
	position:absolute;
	left:962px;
	top:350px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4555 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:27px;
	position:absolute;
	left:3394px;
	top:356px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4556 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:12px;
	position:absolute;
	left:1798px;
	top:347px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4557 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:12px;
	position:absolute;
	left:2224px;
	top:344px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4558 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:427px;
	height:81px;
	position:absolute;
	left:846px;
	top:323px;
}.10651_4558 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4559 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:415px;
	height:81px;
	position:absolute;
	left:425px;
	top:323px;
}.10651_4559 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4560 { 
	background-color:rgba(0, 0, 0, 1);
	width:111px;
	height:81px;
	position:absolute;
	left:3380px;
	top:323px;
}.e10651_4561 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:408px;
	height:81px;
	position:absolute;
	left:10px;
	top:323px;
}.10651_4561 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4562 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:12px;
	position:absolute;
	left:161px;
	top:346px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4563 { 
	color:rgba(255, 255, 255, 1);
	width:354px;
	height:12px;
	position:absolute;
	left:2591px;
	top:344px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4564 { 
	color:rgba(255, 255, 255, 1);
	width:286px;
	height:98px;
	position:absolute;
	left:3030px;
	top:345px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4565 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:417px;
	height:81px;
	position:absolute;
	left:2119px;
	top:323px;
}.10651_4565 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4566 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:410px;
	height:81px;
	position:absolute;
	left:1279px;
	top:323px;
}.10651_4566 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4567 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:12px;
	position:absolute;
	left:1380px;
	top:347px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4568 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:24px;
	position:absolute;
	left:560px;
	top:351px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4569 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:12px;
	position:absolute;
	left:962px;
	top:350px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4570 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:27px;
	position:absolute;
	left:3394px;
	top:356px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4571 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:12px;
	position:absolute;
	left:1798px;
	top:347px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4573 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:427px;
	height:81px;
	position:absolute;
	left:2544px;
	top:323px;
}.10651_4573 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4574 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:399px;
	height:81px;
	position:absolute;
	left:2978px;
	top:323px;
}.10651_4574 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4575 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:418px;
	height:81px;
	position:absolute;
	left:1695px;
	top:323px;
}.10651_4575 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4576 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:427px;
	height:81px;
	position:absolute;
	left:846px;
	top:323px;
}.10651_4576 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4577 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:415px;
	height:81px;
	position:absolute;
	left:425px;
	top:323px;
}.10651_4577 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4578 { 
	background-color:rgba(0, 0, 0, 1);
	width:111px;
	height:81px;
	position:absolute;
	left:3380px;
	top:323px;
}.e10651_4579 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:408px;
	height:81px;
	position:absolute;
	left:10px;
	top:323px;
}.10651_4579 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4580 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:12px;
	position:absolute;
	left:161px;
	top:346px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4581 { 
	color:rgba(255, 255, 255, 1);
	width:354px;
	height:12px;
	position:absolute;
	left:2591px;
	top:344px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4582 { 
	color:rgba(255, 255, 255, 1);
	width:286px;
	height:98px;
	position:absolute;
	left:3030px;
	top:345px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4583 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:417px;
	height:81px;
	position:absolute;
	left:2119px;
	top:323px;
}.10651_4583 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4584 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:410px;
	height:81px;
	position:absolute;
	left:1279px;
	top:323px;
}.10651_4584 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10651_4585 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:12px;
	position:absolute;
	left:1380px;
	top:347px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4586 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:24px;
	position:absolute;
	left:560px;
	top:351px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4587 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:12px;
	position:absolute;
	left:962px;
	top:350px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4588 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:27px;
	position:absolute;
	left:3394px;
	top:356px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4589 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:12px;
	position:absolute;
	left:1798px;
	top:347px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10651_4572 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:12px;
	position:absolute;
	left:2224px;
	top:344px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}