.10691_4445 { 
	overflow:hidden;
}.e10691_4445 { 
	background-color:rgba(255, 255, 255, 1);
	width:3498px;
	height:1765px;
	position:absolute;
}.e10691_4446 { 
	background-color:rgba(3.000000058673322, 14.000000115484, 72.00000330805779, 1);
	width:3288px;
	height:323px;
	position:absolute;
	left:103px;
	top:979px;
}.e10691_4448 { 
	background-color:rgba(122.1875050663948, 79.93099093437195, 79.93099093437195, 0);
	width:2921px;
	height:81px;
	position:absolute;
	left:271px;
	top:1100px;
}.e10691_4449 { 
	background-color:rgba(0, 0, 0, 1);
	width:3288px;
	height:187px;
	position:absolute;
	left:102px;
	top:792px;
}.e10691_4450 { 
	background-color:rgba(0, 0, 0, 1);
	width:3498px;
	height:143px;
	position:absolute;
	left:0px;
	top:75px;
}.e10691_4451 { 
	color:rgba(255, 255, 255, 1);
	width:727px;
	height:102px;
	position:absolute;
	left:1318px;
	top:147px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	line-height:px;
}.10691_4452 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10691_4452 { 
	width:100px;
	height:100px;
	position:absolute;
	left:-1874px;
	top:-964px;
}.e10691_4453 { 
	background-color:rgba(255, 255, 255, 1);
	width:3498px;
	height:74px;
	position:absolute;
	left:0px;
	top:218px;
}.e10691_4454 { 
	color:rgba(0, 0, 0, 1);
	width:744px;
	height:247px;
	position:absolute;
	left:1318px;
	top:263px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10691_4455 { 
	background-color:rgba(2.7093762159347534, 13.835882171988487, 72.24999949336052, 1);
	width:3498px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e10691_4456 { 
	background-color:rgba(2.7093762159347534, 13.835882171988487, 72.24999949336052, 1);
	width:3288px;
	height:99px;
	position:absolute;
	left:102px;
	top:792px;
}.e10691_4457 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(128.56249898672104, 9.642187803983688, 9.642187803983688, 1);
	width:122px;
	height:75px;
	position:absolute;
	left:3376px;
	top:0px;
}.10691_4457 { 
	border:1px solid rgba(4.250000221654773, 4.037500424310565, 4.037500424310565, 1);
}.e10691_4458 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:22px;
	position:absolute;
	left:3424px;
	top:24px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10691_4459 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(128.56249898672104, 9.642187803983688, 9.642187803983688, 1);
	width:122px;
	height:75px;
	position:absolute;
	left:3254px;
	top:0px;
}.10691_4459 { 
	border:1px solid rgba(4.250000221654773, 4.037500424310565, 4.037500424310565, 1);
}.e10691_4460 { 
	color:rgba(255, 255, 255, 1);
	width:39px;
	height:12px;
	position:absolute;
	left:3296px;
	top:32px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	line-height:px;
}.e10691_4461 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(128.56249898672104, 9.642187803983688, 9.642187803983688, 1);
	width:127px;
	height:75px;
	position:absolute;
	left:3127px;
	top:0px;
}.10691_4461 { 
	border:1px solid rgba(4.250000221654773, 4.037500424310565, 4.037500424310565, 1);
}.e10691_4462 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:13px;
	position:absolute;
	left:3161px;
	top:25px;
	font-family:Inter;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
	line-height:px;
}.e10691_4463 { 
	width:1560px;
	height:420px;
	position:absolute;
	left:-63px;
	top:291px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10691_4464 { 
	color:rgba(255, 255, 255, 1);
	width:1148px;
	height:77px;
	position:absolute;
	left:1359px;
	top:814px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e10691_4465 { 
	transform: rotate(180deg);
	width:1970px;
	height:418px;
	position:absolute;
	left:3467px;
	top:296px;
	background-image:url(images/rectangle_41.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10691_4466 { 
	background-color:rgba(0, 0, 0, 1);
	width:3631px;
	height:343px;
	position:absolute;
	left:-38px;
	top:1479px;
}.e10691_4474 { 
	transform: rotate(-179.99999997149482deg);
	width:186px;
	height:0px;
	position:absolute;
	left:3190px;
	top:886px;
}.10691_4474 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e10691_4478 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(180deg);
	background-color:rgba(3.000000058673322, 14.000000115484, 72.00000330805779, 1);
	width:392px;
	height:54px;
	position:absolute;
	left:3391px;
	top:957px;
}.e10691_4485 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:459px;
	height:81px;
	position:absolute;
	left:2522px;
	top:711px;
}.10691_4485 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10691_4486 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:417px;
	height:81px;
	position:absolute;
	left:2956px;
	top:711px;
}.10691_4486 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10691_4487 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:424px;
	height:81px;
	position:absolute;
	left:1673px;
	top:711px;
}.10691_4487 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10691_4488 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:433px;
	height:81px;
	position:absolute;
	left:824px;
	top:711px;
}.10691_4488 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10691_4489 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:421px;
	height:81px;
	position:absolute;
	left:403px;
	top:711px;
}.10691_4489 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10691_4490 { 
	background-color:rgba(0, 0, 0, 1);
	width:108px;
	height:81px;
	position:absolute;
	left:3373px;
	top:711px;
}.e10691_4491 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:420px;
	height:81px;
	position:absolute;
	left:-17px;
	top:711px;
}.10691_4491 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10691_4492 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:12px;
	position:absolute;
	left:139px;
	top:734px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10691_4493 { 
	color:rgba(255, 255, 255, 1);
	width:354px;
	height:12px;
	position:absolute;
	left:2569px;
	top:732px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10691_4494 { 
	color:rgba(255, 255, 255, 1);
	width:286px;
	height:98px;
	position:absolute;
	left:3008px;
	top:733px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10691_4495 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:449px;
	height:81px;
	position:absolute;
	left:2097px;
	top:711px;
}.10691_4495 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10691_4496 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(8.000000473111868, 1.0000000591389835, 1.0000000591389835, 1);
	width:416px;
	height:81px;
	position:absolute;
	left:1257px;
	top:711px;
}.10691_4496 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e10691_4497 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:12px;
	position:absolute;
	left:1358px;
	top:735px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10691_4498 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:24px;
	position:absolute;
	left:538px;
	top:739px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10691_4499 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:12px;
	position:absolute;
	left:940px;
	top:738px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10691_4500 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:27px;
	position:absolute;
	left:3372px;
	top:744px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10691_4501 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:12px;
	position:absolute;
	left:1776px;
	top:735px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10691_4502 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:12px;
	position:absolute;
	left:2229px;
	top:732px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.e10691_4503 { 
	color:rgba(255, 255, 255, 1);
	width:721px;
	height:12px;
	position:absolute;
	left:1257px;
	top:1584px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}.e10691_4505 { 
	background-color:rgba(222.00000196695328, 167.59999305009842, 61.999996304512024, 1);
	width:1010px;
	height:211px;
	position:absolute;
	left:247px;
	top:1012px;
}.e10691_4507 { 
	background-color:rgba(5.843752026557922, 36.93249821662903, 116.8750025331974, 1);
	width:999px;
	height:211px;
	position:absolute;
	left:1245px;
	top:1012px;
}.e10691_4511 { 
	color:rgba(255, 255, 255, 1);
	width:556px;
	height:77px;
	position:absolute;
	left:1436px;
	top:1064px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e10691_4508 { 
	background-color:rgba(222.00000196695328, 167.59999305009842, 61.999996304512024, 1);
	width:989px;
	height:211px;
	position:absolute;
	left:2244px;
	top:1012px;
}.e10691_4510 { 
	color:rgba(0, 0, 0, 1);
	width:709px;
	height:77px;
	position:absolute;
	left:362px;
	top:1076px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e10691_4512 { 
	color:rgba(0, 0, 0, 1);
	width:691px;
	height:77px;
	position:absolute;
	left:2389px;
	top:1064px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}